{
  "_comments": {
    "description": "Eclipse ComfyUI Node Configuration",
    "log_level_options": "error | warning | info | debug"
  },
  "dev_mode": false,
  "log_level": "info",
  "template_sync": true,
  "vue_size_fix": true
}