14mm wide angle lens
24mm wide-angle lens
35mm lens
50mm lens
70mm telephoto lens
85mm portrait lens
aerial shot
aerial view
angle from above
angle from below
atmospheric perspective
between fingers
between legs
between thighs
Big Close-Up (BCU)
birds-eye view
blurry foreground
body shot
Chest Shot (MCU)
cinematic shot
close-up
close-up portrait
close-up shot
cowboy shot
crane shot
cut-in
depth of field
Detail Shot (ECU)
dolly zoom
drone shot
dutch angle
establishing shot
extreme close-up shot
extreme wide shot
eye-level shot
face close-up
Face Shot (VCU)
first-person view
fisheye lens
focus sharp
from above
from behind
from below
from outside
from side
full body shot
full shot
gopro view
ground level shot
half face close-up
hatching (texture)
high angle shot
hip level shot
knee level shot
long shot
low angle shot
macro lens
medium close-up shot
medium shot
medium wide shot
multiple views
over the shoulder shot
overhead angle
panorama
panoramic landscape
perspective
portrait
pov
professionally shot
profile
rack focus
rear angle
reference sheet
rotated
selfie
shot from behind
shot from side
shoulder-level shot
side profile
side view shot
sideways
split screen
street level shot
studio shot
telephoto shot
three sided view
tilt shift
top-down view
tracking shot
two shot angle
ultra wide angle
upper body shot
upside-down
vanishing point
vignette
Waist Shot (WS)
whip pan
wide angle
wide angle portrait
wide shot
zoomed out
