+ +
:<>
:|
=^=
> @
>:(
>:)
@ @
^^^
(-3-)
:3
>3<
3:
aegyo sal
ahegao
amphibian eyes
anger vein
angry
annoyed
blank eyes
bloodshot eyes
blush
blush stickers
bored
bright pupils
bruised eye
button eyes
:c
celebrating
cephalopod eyes
cheek bulge
cheek pinching
cheek poking
cheek pull
cheek-to-cheek
chin grab
clenched teeth
closed eyes
closed mouth
color drain
compound eyes
confused
constricted pupils
covering eyes
covering face
covering mouth
crazy
crazy eyes
crazy smile
cross-eyed
crying
crying with eyes open
:d
;d
dashed eyes
depressed
despair
determined
diamond-shaped pupils
dilated pupils
disappointed
disdain
disgust
dot mouth
dot nose
doyagao
drooling
drunk
ear blush
embarrassed
empty eyes
endured face
envy
evil
evil smile
excited
expressionless
expressionless eyes
expressions
extravagant eyelashes
eyeball
eyebrows behind hair
eyebrows visible through hair
eyelashes
eyeliner
eye reflection
eyes closed
eyes visible through hair
facepalm
facial hair
facing another
fang
fang out
fangs
fingersmile
flaming eyes
flower in mouth
flower-shaped pupils
flustered
food on face
forced smile
forehead
forehead-to-forehead
frown
frustrated
full blush
fume
furrowed brow
glaring
glasgow smile
glint
gloom (expression)
glowing eye
glowing eyes
grimace
grin
guilt
half-closed eye
half-closed eyes
happy
happy tears
heart in eye
heart-shaped eyes
heart-shaped pupils
heavy breathing
holding breath
hollow eyes
horizontal pupils
horrified
jealous
jitome
kubrick stare
large purple glowing eyes
laughing
licking lips
light blush
light smile
lips
lipstick
lonely
long tongue
makeup
mako eyes
mischievous smile
mismatched pupils
mismatched sclera
moaning
mouth drool
mouth hold
naughty
nervous
nervous smile
no mouth
no nose
no pupils
no sclera
nosebleed
nose blush
\(^o^)/
one eye closed
o o
open mouth
:p
pac-man eyes
pain
panicking
parted lips
pensive
pout
puckered lips
:q
raised eyebrow
raised eyebrows
rape face
rectangular mouth
red lips
ringed eyes
rolling eyes
sad
sad smile
saliva
saliva trail
sanpaku
scared
scowl
screaming
seductive smile
serious
shaded
shy
sideways mouth
sigh
skin fang
sleepy
slit pupils
smelling
smile
smiley
smirk
smug
sobbing
solid circle eyes
sparkling eyes
spit take
split mouth
star-shaped pupils
stifled laugh
streaming tears
sulking
surprised
symbol-shaped pupils
tareme
tearing up
tears
teeth
thinking
tired
tongue
tongue out
torogao
trembling
troll
tsundere
tsurime
turn pale
upper teeth
upset
upturned eyes
uwu
=v=
v-shaped eyebrows
wavy mouth
whistling
wide eyed
wide-eyed
wince
worried
wrinkles
x-shaped pupils
yandere
