absent eyes
amber eyes
aqua eyes
black eyes
black sclera
blank eyes
bloodshot eyes
blue eyes
blue sclera
brown eyes
button eyes
cat eyes
compound eyes
crazy eyes
glowing eyes
golden eyes
gradient eyes
green eyes
green sclera
grey eyes
heterochromatic eyes
large pupils
missing eyes
multicolored eyes
no pupils
no sclera
orange eyes
orange sclera
pac-man eyes
pink eyes
purple eyes
red eyes
red sclera
ringed eyes
slit pupils
small pupils
third eye
white eyes
yellow eyes
yellow sclera
