{
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": true,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "unet_name": "flux/darkBeastMar0326Latest_dbkleinv2BFS.safetensors",
  "weight_dtype": "fp8_e4m3fn",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "flux2",
  "clip_name1": "qwen_3_8b_fp8mixed_abliterated.safetensors",
  "vae_source": "External",
  "vae_name": "flux2-vae.safetensors",
  "resolution": "Custom",
  "width": 352,
  "height": 640,
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 5,
  "cfg": 1,
  "flux_guidance": 3.5
}