{
  "model_type": "Standard Checkpoint",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "ckpt_name": "illustrious/illustrij_v21.safetensors",
  "clip_source": "Baked",
  "enable_clip_layer": true,
  "stop_at_clip_layer": -2,
  "vae_source": "Baked",
  "sampler_name": "euler_ancestral",
  "scheduler": "sgm_uniform",
  "steps": 30,
  "cfg": 4
}