{
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": false,
  "configure_sampler": true,
  "configure_model_only_lora": true,
  "configure_model_sampling": false,
  "configure_blockswap": false,
  "blocks_to_swap": 20,
  "offload_embeddings": false,
  "unet_name": "zImage_zibDistilledDX3Lucis.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "qwen_3_4b.safetensors",
  "vae_source": "External",
  "vae_name": "zImage_vae.safetensors",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 5,
  "cfg": 1,
  "lora_count": "1",
  "lora_switch_1": false,
  "lora_name_1": "REDZ15_DetailDaemonZ_lora_v1.1.safetensors",
  "lora_weight_1": -1,
  "lora_switch_2": false,
  "lora_name_2": "None",
  "lora_weight_2": 1,
  "lora_switch_3": false,
  "lora_name_3": "None",
  "lora_weight_3": 1
}
