{
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": true,
  "configure_sampler": true,
  "configure_model_only_lora": false,
  "configure_model_sampling": false,
  "unet_name": "darkBeastFeb1226Latest_darkblitzZIT5steps.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "qwen_3_4b.safetensors",
  "vae_source": "External",
  "vae_name": "flux_vae.safetensors",
  "resolution": "Custom",
  "sampler_name": "euler",
  "scheduler": "simple",
  "steps": 5,
  "cfg": 1.0,
  "width": 576,
  "height": 1088
}