{
  "model_type": "UNet Model",
  "configure_clip": true,
  "configure_vae": true,
  "configure_latent": true,
  "configure_sampler": true,
  "configure_model_only_lora": true,
  "configure_model_sampling": false,
  "unet_name": "zImageTurbo_darkBeast_dbzIVAllstar.safetensors",
  "weight_dtype": "default",
  "clip_source": "External",
  "clip_count": "1",
  "clip_type": "lumina2",
  "clip_name1": "qwen_3_4b.safetensors",
  "vae_source": "External",
  "vae_name": "zImage_vae.safetensors",
  "resolution": "832x1216 (2:3 Flux, SDXL)",
  "sampler_name": "er_sde",
  "scheduler": "sgm_uniform",
  "steps": 9,
  "cfg": 1.0,
  "lora_count": "1",
  "lora_switch_1": true,
  "lora_name_1": "zimage/REDZ15_DetailDaemonZ_lora_v1.1.safetensors",
  "lora_weight_1": -1.0,
  "lora_switch_2": false,
  "lora_name_2": "None",
  "lora_weight_2": 1.0,
  "lora_switch_3": false,
  "lora_name_3": "None",
  "lora_weight_3": 1.0
}